{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>メニュー</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson_index.css' %}">
  </head>

<body>
    <h2>レッスン受講記録一覧</h2>
    <form>
      {{ form }}
      <button type="submit" value="検索">検索</button>
    </form>
    <hr>
    <table class="table">
        <thead>
          <tr>
            <td>ID</td>
            <td>受講者</td>
            <td>ジャンル</td>
            <td>受講日</td>
            <td>受講時間(h)</td>
          </tr>
      </thead>
      <tbody>
        {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.id }}</td>
            <td>{{ lesson.customer.name }}</td>
            <td>{{ lesson.lesson }}</td>
            <td>{{ lesson.lesson_date }}</td>
            <td>{{ lesson.lesson_hour }}h</td>
            <td><a href="{% url 'lesson_edit' lesson.pk %}">編集</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <a href="{% url 'lesson_form' %}">新規追加</a>
    <hr>
    <a href="{% url 'index' %}">メニューに戻る</a>

</body>
